### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.idea_modules/
out/

### Maven ###
.mvn/
mvnw
mvnw.cmd
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

### Java ###
# Compiled class files
*.class

# Log files
*.log
logs/
log/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

### Spring Boot ###
**/src/main/**/target/
**/src/test/**/target/
*.properties.local
application-*.yml
!application.yml
!application-example.yml

### Others ###
HELP.md
*.sw?
.env
*.pid
*.seed
*.pid.lock
.project
.settings
.springBeans
.sts4-cache
